# # Managed by Ansible
# 
# # security headers
{{ header_options }}
# 

# gzip
gzip {{ gzip_status }};
gzip_vary {{ gzip_vary }};
gzip_proxied {{ gzip_proxied }};
gzip_comp_level {{ gzip_comp_level }};
gzip_types {{ gzip_types }};